# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
.env

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Django development server pid file
*.pid
